.App {
  text-align: center;
}

.ConnectBtn {
  display: flex;
  justify-content: center;
}
.Error {
  max-width: 40%;
  margin: 0 auto;
  justify-self: center;
  /* display: flex; */
  /* justify-content: center; */
}